<footer class="bg-background w-full border-t shrink-0">
  <div
    class="mx-auto flex h-20 w-full max-w-screen-2xl items-center px-4 md:px-8 lg:px-16"
  >
    <div class="space-y-4">
      <div class="text-muted-foreground space-y-2 text-sm">
        <p>Licencia MIT</p>
        <p>
          Hecho con 💙 por{" "}
          <a
            target="_blank"
            rel="noreferrer"
            href="https://github.com/andrescv"
            class="hover:text-primary transition-colors"
          >
            @andrescv
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
