---
import type { MarkdownHeading } from "astro";

import { buildToc } from "@/lib/toc";

import TOCItem from "./TOCItem.astro";

type Props = {
  headings: MarkdownHeading[];
};

const toc = buildToc(Astro.props.headings);
---

<div
  class="sticky top-24 max-h-[calc(100svh-16rem)] hidden w-80 shrink-0 py-8 2xl:block"
>
  <div class="text-sm w-full h-full overflow-y-auto">
    <h4 class="mb-4 font-medium">En esta página</h4>
    <ul class="space-y-2">
      {toc.map((item) => <TOCItem item={item} />)}
    </ul>
  </div>
</div>
