---
import { ChevronRight } from "lucide-react";

import type { TOCNode } from "@/lib/toc";

type Props = {
  item: TOCNode;
};

const { item } = Astro.props;
---

<li class="space-y-2">
  <a
    href={`#${item.slug}`}
    class="text-muted-foreground hover:text-foreground items-center flex transition-colors"
    style={`margin-left: 0px;`}
  >
    <ChevronRight className="mr-2 mt-1 h-3.5 w-3.5 shrink-0" />
    <span class="line-clamp-1">{item.text}</span>
  </a>
  {
    item.subheadings.length > 0 && (
      <ul class="ml-5 mt-2 space-y-2">
        {item.subheadings.map((subheading) => (
          <Astro.self item={subheading} />
        ))}
      </ul>
    )
  }
</li>
