---
import { Link2 } from "lucide-react";
import Layout from "@/layouts/Simple.astro";
import GoHome from "@/components/react/GoHome";
---

<Layout title="No encontrado" description="Página no encontrada">
  <main class="w-full pb-8 pt-32">
    <div
      class="mx-auto flex w-full max-w-screen-2xl flex-col items-center px-4 py-40 md:px-8 lg:px-16"
    >
      <div class="flex w-fit items-center gap-2">
        <h1 class="text-6xl font-bold">404</h1>
        <Link2 className="text-tertiary h-12 w-12" />
      </div>
      <p
        class="text-muted-foreground animate-in fade-in-0 text-center duration-1000"
      >
        La URL que estás viendo no existe. <br />
        Presiona{" "}
        <span
          class="inline-block whitespace-nowrap rounded border px-1.5 align-middle font-medium leading-4 tracking-wide [font-size:10px]"
        >
          /
        </span>{" "}
        para ir al inicio.
      </p>
    </div>
  </main>
  <GoHome client:load />
</Layout>
